{% load static %}

<link rel="stylesheet" href="{% static 'ttt_app/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>tic tac toe</title>
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">

    <h1>Tic Tac Toe</h1>
    <h3>Let's Play</h3>
    <p><a class="btn btn-primary btn-lg" href="{% url 'single' %}" role="button">Human vs AI</a></p>
    <p><a class="btn btn-primary btn-lg" href="{% url 'multi' %}" role="button">Human1 vs Human2</a></p>
  </div>
  </div>


  </body>
</html>
