{% load static %}

<link rel="stylesheet" href="{% static 'ttt_app/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'ttt_app/style.css' %}">

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Human vs AI</title>
  </head>
  <body>
      <header>
        <p>Human vs AI</p>
      </header>
      <input type="button" value="Start AI" id="b" onclick="restartBnt(this)"/>
      <table align='center'>

      <tr>
        <td id="0" onclick="clickedCellAI(this)"></td>
        <td id="1" onclick="clickedCellAI(this)"></td>
        <td id="2" onclick="clickedCellAI(this)"></td>
      </tr>

      <tr>
        <td id="3" onclick="clickedCellAI(this)"></td>
        <td id="4" onclick="clickedCellAI(this)"></td>
        <td id="5" onclick="clickedCellAI(this)"></td>
      </tr>

      <tr>
        <td id="6" onclick="clickedCellAI(this)"></td>
        <td id="7" onclick="clickedCellAI(this)"></td>
        <td id="8" onclick="clickedCellAI(this)"></td>
      </tr>
      <br>
    </table>
    <p id="message"></p>
  </body>

  <script type="text/javascript" src="{% static 'ttt_app/script.js' %}">

  </script>
</html>
