td {
  height: 100px;
  width: 100px;
  text-align: center;
  color: black;
  border: 5px solid black;
  font-size: 80px;
}

p {
	font-size: 30pt;
	font-weight: bold;
	font-family: Sans;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

header {
	background-color: #10BBBB;
	color: black;
	text-align: center;
	height: 100px;
	padding-top: 20px;
	display: block;
	margin-top: auto;
	margin-bottom: auto;
    margin-left: 25%;
	box-sizing: border-box;
	position: relative;
	width: 50%;
}

#message {
  color: red;
}

td {
	cursor: pointer;
	height: 95px;
	width: 95px;
}

td:hover {
	background: #ECECEC;
}

#b {
	display: block;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
  margin-top: 10px;
	width: 200px;
	background: #00AEEA;
	font-size: 1.5em;
	color: #FFF;
	border: none;
	border-radius: 6px;
	cursor: pointer;

}

#b:hover {
	background: #1DC5FF;
}

#b:active {
	background: #0787B3;
}

#b:disabled {
	color: #444;
	background: #CECECE;
}

/* a {
	color: #00AEEA;
	text-decoration: none;
}
a:hover {
	color: #00AEEA;
}
a:visited {
	color: #00AEEA;
}  */

/* ****************** Table style ****************** */
/* #tab-tic-tac-toe {
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	font-size: 4em;
	font-family: Sans;
	color: #444;
	background: #F8F8F8;
	width: 310px;
	height: 300px;
	text-align: center;
	vertical-align: center;
	border: 1px solid #CECECE;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #CCC;
} */

/*Column style*/
/* #tab-tic-tac-toe td {
	border-collapse:collapse;
	border-left: 5px solid #CCC;
	border-bottom: 5px solid #CCC;
}

#tab-tic-tac-toe td:first-child {
	border-left: none;
}

#tab-tic-tac-toe tr:last-child td {
	border-bottom: none;
} */

/*Cells*/
